@font-face {
    font-family: Futura New;
    src: url(FuturaNewLight-Reg.ttf);
}
body {
    margin: 0;
    font-family: Futura New;
}
h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
}
.contentCookItems {
    margin: 20px 0px 80px 0px;
}
.contentCookItems_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contentCookItems_text {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    margin: 60px 0px;
    text-align: center;
}
.contentCookItems_items img {
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: auto;
}
.contentCleanItems {
    margin: 20px 0px 80px 0px;
}
.contentCleanItems_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.contentCleanItems_text {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    margin: 60px 0px;
    text-align: center;
}
.contentCleanItems_items img {
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: auto;
}
.contentVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.contentVideo_play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}
.contentVideo_play img{
    display: block;
    width: 20px;
}
@media (min-width: 829px) {
    .foto828 {
        display: none;
    }
    .content_text {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 100px 0px;
        font-size: 36px;
        padding: 46px 52px 46px 52px;
        line-height: 43px;
        border-radius: 10px;
    }
    .contentBarista {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentSixItems {
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentSixItems .item {
        margin: 10px 0px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 48px;
        font-weight: 600;
        line-height: 120%;
        border-radius: 10px;
        padding: 50px 42px 50px 42px;
        width: 100%;
    }
    .contentSettings {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentTubeless {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentLatteCrema {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 80%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentDegrees {
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
}
@media (max-width: 828px) {
    .content_foto {
        padding: 0;
    }
    .foto828 {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .content_text {
        background-color: white;
        font-size: 36px;
        padding: 46px 40px 46px 40px;
        margin: 0;
        line-height: 43px;
        width: 100%;
    }
    .contentBarista {
        background-size: 0 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .contentSixItems {
        background-repeat: no-repeat;
        background-position: 70%;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    .contentSixItems .row {
        height: 1000px;
    }
    .contentSixItems .item {
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        border-radius: 10px;
        padding: 27px 21px 27px 21px;
        text-align: center;
        width: 240px;
    }
    .contentSettings {
        background-size: 0 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .contentTubeless {
        background-size: 0 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .contentLatteCrema {
        background-size: 0 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .contentDegrees {
        background-size: 0 0;
        display: flex;
        align-items: flex-start;
        height: 100%;
    }
    .contentCookItems {
        margin: 20px 0px 80px 0px;
    }
    .contentCookItems_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contentCookItems_text {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        margin: 60px 0px;
        text-align: center;
    }
    .contentCookItems_items img {
        display: block;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: auto;
    }
    .contentCleanItems {
        margin: 20px 0px 80px 0px;
    }
    .contentCleanItems_items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contentCleanItems_text {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        margin: 60px 0px;
        text-align: center;
    }
    .contentCleanItems_items img {
        display: block;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: auto;
    }
}
@media (max-width: 720px) {
    h3 {
        font-size: 30px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .content_text {
        background-color: white;
        font-size: 26px;
        padding: 46px 20px 46px 20px;
        margin: 0;
        line-height: 43px;
        width: 100%;
    }
    .contentCookItems_text {
        font-size: 28px;
        font-weight: 600;
        line-height: 60px;
        margin: 60px 0px;
        text-align: center;
    }
    .contentCleanItems_text {
        font-size: 28px;
        font-weight: 600;
        line-height: 60px;
        margin: 60px 0px;
        text-align: center;
    }
}